<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de membros do projeto <strong>{{ project.name }}</strong></div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Member</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pm in projectMembers">
                            <td>{{ pm.name }}</td>
                            <td>
                                <a ng-href="#/project/{{ project.id }}/member/{{ pm.id }}/remove">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>