<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de projetos</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Client</th>
                            <th>Progress</th>
                            <th>Due data</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects">
                            <td>{{ project.id }}</td>
                            <td>{{ project.project }}</td>
                            <td>{{ project.client.data[0].name }}</td>
                            <td>{{ project.progress }}%</td>
                            <td>{{ project.due_date }}</td>
                            <td>
                                <a ng-href="#/projects/{{ o.id }}/edit">Edit</a>
                                <a ng-href="#/projects/{{ o.id }}/remove">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>