<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de projeto</div>
                <div class="panel-body">
                    <p>Confirma exclusão do projeto?</p>
                    <ul>
                        <li><strong>Name:</strong> {{ project.name }}</li>
                        <li><strong>Client:</strong> {{ project.client.data[0].name }}</li>
                    </ul>
                    <div class="form-group col-lg-12">
                        <button type="button" class="btn btn-lg btn-danger btn-primary" ng-click="remove()">Excluir</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
