<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de tarefas de projetos</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Project</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pt in projectTasks">
                            <td>{{ pt.id }}</td>
                            <td>{{ pt.name }}</td>
                            <td>{{ pt.status }}%</td>
                            <td>{{ pt.project.data[0].name }}</td>
                            <td>
                                <a ng-href="#/project/{{ pt.project.data[0].id }}/task/{{ pt.id }}/edit">Edit</a>
                                <a ng-href="#/project/{{ pt.project.data[0].id }}/task/{{ pt.id }}/remove">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>